@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');


.header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2%;
    width: 85vw;
    padding-inline: 1%;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.massageName {
    padding-left: 5%;
    margin-right: auto;
    font-family: "Pinyon Script";
    flex: 0 1 auto;
    min-width: 0;
    width: fit-content;
    overflow-wrap: break-word;
    font-size: clamp(2rem, 3vw + 1rem, 2.813rem);
}

.massageInfo {
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 350px;
    gap: 5%;
    font-size: clamp(1rem, 1vw + 0.5rem, 2.5rem);
}

.massageDurMed {
    flex: 0 1 clamp(45%, 60%, 60%);
    overflow-wrap: break-word;
    min-width: 0;
    text-align: center;
}

.massageCost {
    flex: 0 1 30%;
    overflow-wrap: break-word;
    text-align: center;
    min-width: 0;
}

.massageInsights {
    background-color: peru;
    display: flex;
    margin: 1vmax auto;
    width: 90vw;
    justify-content: flex-end;
    padding-block: 1%;
}

.massageImage {
    display: block;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
    border-radius: 1%;
    margin-right: auto;
    margin-left: 3%;
    width: clamp(45%, 50%, 50%);
}

@media (max-width: 576px) {
    .massageInsights {
        flex-direction: column;
    }

    .massageImage {
        margin: 0 auto;
        width: 100%;
        aspect-ratio: 1/1;
    }
}

.massageDescription {
    display: flex;
    box-sizing: border-box;
    color: white;
    width: 20%;
    align-items: center;
    margin-right: 10%;
}

.massageDescriptionWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.75rem);
    gap: 5%;
    background-color: black;
    padding-block: 20%;
    padding-inline: 5%;
    border-radius: 2%;
}

.massageSchedule {
    cursor: pointer;
    background-color: #c85000;
    outline: none;
    border: none;
    height: 8%;
    box-shadow: rgba(255, 255, 255, 0.267) 0px 1px 2px;
    transition: all .3s;
}

.massageSchedule:active {
    box-shadow: rgba(255, 255, 255, 0.267) inset 0px -2px 8px;
}

.massageSchedule:hover:not(:active) {
    -webkit-filter: brightness(1.1);
}